figpanels/*
RPPR_figures/*
probe_movies/*
Figure1/*
Figure2/*
Figure2_folded/*

Figure3/*
Figure4_5_PCA_LDA/*

Figure4/*
Figure5/*
Figure5_mutant_plots/*

Figure6/*
Figure7/*
FigureS1_norpA/*
FigureS2_vnc_cut/*
Figures_opcond_R01/*
data_cache/folded_blocks/*
scripts/figpanels_browser/*

screenshots/*
Notes/*

# Python bytecode
__pycache__/
*.pyc
*.pyo
