figpanels/*
RPPR_figures/*
probe_movies/*
Figure1/*
Figure2/*
Figure2_folded/*

Figure3/*
Figure3_6_PCA_LDA/*

Figure4/*
Figure5/*
Figure6/*
Figure7/*
FigureS1_norpA/*
FigureS2_vnc_cut/*

screenshots/*


